
h1{
    color: black;
    font-family: 'Rubik', sans-serif; 
    font-weight: bold;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif; 